<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="communityMapper">


	<resultMap id="CommunityResultSet" type="Community">
		<id property="cboardNo" column="CBOARD_NO"/>
		<result property="cboardWriter" column="CBOARD_WRITER"/> <!-- 사번 -->
		<result property="cboardWriterName" column="EMP_NAME"/>
		<result property="cboardTitle" column="CBOARD_TITLE"/>
		<result property="cboardContent" column="CBOARD_CONTENT"/>
		<result property="cboardDate" column="CBOARD_DATE"/>
		<result property="boardViewCount" column="BOARD_VIEWCOUNT"/>
		<result property="boardLikeCount" column="BOARD_LIKECOUNT"/>
		<result property="status" column="STATUS"/>
		<result property="profile" column="CHANGE_NAME"/>
		<result property="replyCount" column="REPLY_COUNT"/>
	</resultMap>
	
	<resultMap id="replyResultSet" type="Reply">
		<id property="replyNo" column="REPLY_NO" />
		<result property="replyWriter" column="REPLY_WRITER"/>
		<result property="replyWriterName" column="EMP_NAME"/>
		<result property="replyContent" column="REPLY_CONTENT" />
		<result property="refBoardNo" column="REF_BNO" />
		<result property="replyDate" column="REPLY_DATE"/>
		<result property="status" column="STATUS"/>
	</resultMap>
	
	<resultMap id="likesResultSet" type="Likes">
		<id property="likeNo" column="REPLY_NO" />
		<result property="cboardNo" column="CBOARD_NO"/>
		<result property="empNo" column="EMP_NO"/>
	</resultMap>
	
	<select id="selectCListCount" parameterType="String" resultType="_int">
		SELECT COUNT(*)
		FROM COMMUNITY
		WHERE STATUS='Y'
	</select>
	
	<select id="selectCList" parameterType="String" resultMap="CommunityResultSet">
		SELECT A.*,NVL((SELECT COUNT(*) FROM REPLY
		WHERE REF_BNO = A.CBOARD_NO AND STATUS='Y'
		GROUP BY CBOARD_NO),0) REPLY_COUNT, EMP_NAME
		FROM COMMUNITY A LEFT JOIN EMPLOYEE ON CBOARD_WRITER=EMP_NO
      	WHERE A.STATUS = 'Y'
      	ORDER BY CBOARD_NO DESC
	</select>
	
	<insert id="insertComm" parameterType="Community">
		INSERT INTO COMMUNITY
		VALUES(SEQ_BNO.NEXTVAL, #{cboardWriter}, #{cboardTitle}, #{cboardContent},
		SYSDATE, DEFAULT, DEFAULT, DEFAULT)
	</insert>
	
	<update id="deleteComm" parameterType="_int">
		UPDATE COMMUNITY
		SET STATUS='N'
		WHERE CBOARD_NO=#{cboardNo}
	</update>
	
	<update id="updateComm" parameterType="Community">
		UPDATE COMMUNITY
		SET CBOARD_CONTENT=#{cboardContent},
			CBOARD_TITLE=#{cboardTitle}
		WHERE CBOARD_NO=#{cboardNo}
	</update>
	
	<update id="updateIncreaseCount" parameterType="_int">
		UPDATE COMMUNITY
		SET BOARD_VIEWCOUNT=BOARD_VIEWCOUNT+1
		WHERE CBOARD_NO=#{cboardNo}
	</update>
	
	<update id="updateLikeCount" parameterType="_int">
		UPDATE COMMUNITY
		SET BOARD_LIKECOUNT=BOARD_LIKECOUNT+1
		WHERE CBOARD_NO=#{cboardNo}
	</update>
	
	<update id = "recommend">
		UPDATE COMMUNITY
		SET BOARD_LIKECOUNT=BOARD_LIKECOUNT+1 
		WHERE CBOARD_NO=#{cboardNo}
	</update>
	
	<select id="selectComm" resultMap="CommunityResultSet">
		SELECT A.*, B.EMP_NAME, B.CHANGE_NAME
		FROM COMMUNITY A INNER JOIN EMPLOYEE B ON A.CBOARD_WRITER=B.EMP_NO
		WHERE A.CBOARD_NO=#{cboardNo}
		AND A.STATUS='Y'
	</select>
	
	<insert id="insertReply" parameterType="Reply">
		INSERT INTO REPLY
		VALUES(SEQ_RNO.NEXTVAL, #{replyWriter}, #{refBoardNo}, #{replyContent}, SYSDATE, DEFAULT)
	</insert>
	
	<select id="selectReplyList" resultMap="replyResultSet">
		SELECT REPLY_NO, EMP_NAME, REPLY_CONTENT, REPLY_DATE
	    FROM REPLY A LEFT JOIN EMPLOYEE ON REPLY_WRITER=EMP_NO
	    WHERE REF_BNO=#{cboardNo}
	    AND A.STATUS='Y'
	    ORDER BY REPLY_NO
	</select>
	
	
	<select id="selectSearchList" resultType="Community" parameterType="map">
		SELECT *
		FROM COMMUNITY
		WHERE STATUS='Y'
		AND (
		CBOARD_TITLE LIKE #{searchKey}
		or CBOARD_CONTENT LIKE #{searchKey}
		)
	</select>
	
	<!-- 좋아요 갯수 조회 --> 
	 <select id="countLikes" parameterType="_int" resultType="Likes">
	 	SELECT *
	 	FROM LIKES
	 	WHERE CBOARD_NO=#{cboardNo}
	 </select>
	 	
	 <!-- 좋아요 확인 -->
	 <select id="selectLikes" parameterType="Likes" resultType="string">
	 	SELECT A.EMP_NO
	 	FROM LIKES A INNER JOIN EMPLOYEE B ON A.EMP_NO = B.EMP_NO
	 	WHERE CBOARD_NO =# {cboardNo}
	 	AND B.EMP_NO =# {cboardWriter};
	 </select>
	 	
	 <!-- 좋아요 생성 -->
	 <insert id="insertLikes" parameterType="Likes">
	 	INSERT INTO LIKES
	 	values(SEQ_LIKES.NEXTVAL, #{cboardNo}, #{cboardWriter})
	 </insert>
	 
	  <!-- 종아요 수 업데이트 -->
	 <update id="likesUpdate" parameterType="_int">
	 	UPDATE COMUNITY
	 	SET BOARD_LIKECOUNT = BOARD_LIKECOUNT + 1
	 	WHERE CBOARD_NO =# {cboardNo}
	 </update>
	 
	 <!-- 좋아요 갯수 업데이트 -->
	 <update id="updateLikes" parameterType="Community">
	 	update COMUNITY
	 	SET BOARD_LIKECOUNT = #{BOARD_LIKECOUNT}
	 	WHERE CBOARD_NO =# {cboardNo}
	 </update>
	
</mapper>
