<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="noticeMapper">

	<resultMap id="NoticeResultSet" type="Notice">
		<id property="noticeNo" column="NOTICE_NO"/>
		<result property="noticeWriter" column="NOTICE_WRITER"/>
		<result property="noticeWriterName" column="EMP_NAME"/>
		<result property="noticeTitle" column="NOTICE_TITLE"/>
		<result property="noticeContent" column="NOTICE_CONTENT"/>
		<result property="noticeDate" column="NOTICE_DATE"/>
		<result property="status" column="STATUS"/>
		<result property="count" column="COUNT"/>
		<result property="originName" column="ORIGIN_NAME"/>
		<result property="changeName" column="CHANGE_NAME"/>
		<result property="replyCount" column="REPLY_COUNT"/>
	</resultMap>
	
	<resultMap id="replyResultSet" type="Reply">
		<id property="replyNo" column="REPLY_NO" />
		<result property="replyWriter" column="REPLY_WRITER"/>
		<result property="replyWriterName" column="EMP_NAME"/>
		<result property="replyContent" column="REPLY_CONTENT" />
		<result property="refBoardNo" column="REF_BNO" />
		<result property="replyDate" column="REPLY_DATE"/>
		<result property="status" column="STATUS"/>
	</resultMap>
	
	<select id="selectListCount" parameterType="String" resultType="_int">
		SELECT COUNT(*)
		FROM NOTICE
		WHERE STATUS='Y'
	</select>
	
	<select id="selectList" parameterType="String" resultMap="NoticeResultSet">
		SELECT A.*,NVL((SELECT COUNT(*) FROM REPLY
		WHERE REF_BNO = A.NOTICE_NO AND STATUS='Y'
		GROUP BY NOTICE_NO),0) REPLY_COUNT, EMP_NAME
		FROM NOTICE A LEFT JOIN EMPLOYEE ON NOTICE_WRITER=EMP_NO
      	WHERE A.STATUS = 'Y'
      	ORDER BY NOTICE_NO DESC
	</select>
	
	<insert id="insertNotice" parameterType="Notice">
		INSERT INTO NOTICE
		VALUES(SEQ_BNO.NEXTVAL, #{noticeWriter}, #{noticeTitle}, #{noticeContent},
		SYSDATE, DEFAULT, DEFAULT, #{originName}, #{changeName})
	</insert>
	
	<update id="deleteNotice" parameterType="_int">
		UPDATE NOTICE
		SET STATUS='N'
		WHERE NOTICE_NO=#{noticeNo}
	</update>
	
	<update id="updateNotice" parameterType="Notice">
		UPDATE NOTICE
		SET NOTICE_CONTENT=#{noticeContent},
			NOTICE_TITLE=#{noticeTitle},
			ORIGIN_NAME=#{originName},
			CHANGE_NAME=#{changeName}
		WHERE NOTICE_NO=#{noticeNo}
	</update>
	
	<update id="updateIncreaseCount" parameterType="_int">
		UPDATE NOTICE
		SET COUNT=COUNT+1
		WHERE NOTICE_NO=#{noticeNo}
	</update>
	
	<select id="selectTopList" resultMap="NoticeResultSet">
		<!-- 메인화면 공지사항 -->
		<![CDATA[
		SELECT *
		FROM(SELECT *
			FROM NOTICE
			WHERE STATUS='Y'
			ORDER BY COUNT DESC)
		WHERE ROWNUM <= 10
		]]>
	</select>
	
	<select id="selectNotice" resultMap="NoticeResultSet">
		SELECT *
		FROM NOTICE
		WHERE NOTICE_NO=#{noticeNo}
		AND STATUS='Y'
	</select>
	
	<insert id="insertReply" parameterType="Reply">
		INSERT INTO REPLY
		VALUES(SEQ_RNO.NEXTVAL, #{replyWriter}, #{refBoardNo}, #{replyContent}, SYSDATE, DEFAULT)
	</insert>
	
	<select id="selectReplyList" resultMap="replyResultSet">
		SELECT REPLY_NO, EMP_NAME, REPLY_CONTENT, REPLY_DATE
		FROM REPLY A LEFT JOIN EMPLOYEE ON REPLY_WRITER=EMP_NO
		WHERE REF_BNO=#{noticeNo}
		AND A.STATUS='Y'
		ORDER BY REPLY_NO
	</select>
	
	<select id="selectSearchList" resultType="Notice" parameterType="map">
		SELECT *
		FROM NOTICE
		WHERE STATUS='Y'
		AND (
		NOTICE_TITLE LIKE #{searchKey}
		or NOTICE_CONTENT LIKE #{searchKey}
		)
	</select>
	
	
</mapper>
